/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET ^ */

/* COLORS */
:root {
    --mainDark: #092327;
    --main: #0B5351;
    --mainLight: #00A9A5;
    --alt: coral;
    --altLight: #90c2e7;
}

/* FONT */
body,
button {
    font-family: 'Shadows Into Light', cursive;
    background-color: var(--mainDark);
    color: var(--altLight); 
    font-size: 16px;
}

.title {
    font-size: 48px;
    color: white;
    margin-top: 25px;
}

.subtitle {
    font-size: 24px;
    color: var(--altLight);
    margin: 0 10px;
    text-align: center;
}

a {
    color: var(--mainLight);
    text-decoration: none;
}

a:hover {
    color: var(--alt);
    cursor: pointer;
}

button {
    background-color: var(--mainLight);
    border: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--alt);
    cursor: pointer;
}

input:hover,
label:hover {
    cursor: pointer;
}

.warning {
    color: var(--alt);
}
 
p {
    line-height: 125%;
}

/* CONTAINERS */

.mega-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-container {
    display: flex;
    gap: 50px;
}

.menu-container {
    flex-shrink: 1;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.end-text {
    margin-top: auto;
}

.colorPickers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* EAS (etch-a-sketch) GRID */
.EAS-container {
    display: grid;
    border: 4px solid var(--mainLight);
    height: 40vw;
    width: 40vw;

    max-width: 70vh;
    max-height: 70vh;

    flex-shrink: 5;
}

/* JUST FOR FUN */
.footer-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: hsl(0, 100%, 50%, 5%);
    text-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
}

#see-the-code {
    font-family: 'Shadows Into Light', cursive;
    font-size: 16px;
}